
[DEFAULT]
current_table_query   = xxx
source_table_query    = xxx
source_query_type     = HDI     ---- HDI OR db_type (mysql sqlserver )
Max_business_date     = select date_sub(max(from_unixtime(unix_timestamp(created,'yyyy-MM-dd HH:mm:ss'),'yyyy-MM-dd')),60) from ods.gtm_epos_tmfs_trade
db_name = ym
log_path = /home/cdl_ecom/logs/xxx.log


[test]
current_table_query = test1
source_table_query  = xxx
source_query_type   = HDI     ---- HDI OR db_type (mysql sqlserver )
Max_business_date   = select date_sub(max(from_unixtime(unix_timestamp(created,'yyyy-MM-dd HH:mm:ss'),'yyyy-MM-dd')),60) from ods.gtm_epos_tmfs_trade

