[source_T_DWD_TB_BB_ETRAF_TMFS_RPC_SOURCE_DAILY_FACT]
table_name = execute_log/traffic_tmfs_rpc_source_daily_fact
data_type = source
label = 1
log_path = /home/cdl_ecom/logs/execute_log/traffic_tmfs_rpc_source_daily_fact_execute.log
pattern = where a.numa=1 and  a.dw_create_time >='(.*?)'


[source_T_DWD_TB_BB_ETRAF_TMFS_RPC_SEARCH_SOURCE_MONTHLY_FACT]
table_name = traffic_tmfs_rpc_search_source_monthly_fact
label = 1
log_path = /home/cdl_ecom/logs/execute_log/traffic_tmfs_rpc_search_source_monthly_fact_execute.log
pattern = where a.numa=1 and a.dw_create_time >='(.*?)'
data_type = source


[target_T_DWD_TB_BB_ETRAF_TMFS_RPC_SOURCE_DAILY_FACT]
table_name = traffic_tmfs_rpc_source_daily_fact
label = 1
log_path = /home/cdl_ecom/logs/execute_log/traffic_tmfs_rpc_source_daily_fact_execute.log
pattern = where a.numa=1 and a.dw_create_time >='(.*?)'
data_type = target




[target_T_DWD_TB_BB_ETRAF_TMFS_RPC_SOURCE_DAILY_FACT]
table_name = traffic_tmfs_rpc_search_source_monthly_fact
label = 1
log_path = /home/cdl_ecom/logs/execute_log/traffic_tmfs_rpc_search_source_monthly_fact_execute.log
pattern = where a.numa=1 and  a.dw_create_time >='(.*?)'
data_type = target